@model DemandMoreVertical.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Welcome";
}

<h2>Demand More Vertical!</h2>
<h3>Welcome</h3>
<p>
    Welcome! The purpose of this application is to compare elevation gain amoungst local runners within certain National and Stark parks.
</p>
@{
    <h3>Sync Activities</h3>
    if (Model.NumberOfActivities == 0)
    {
        <p>It looks like you haven't synced any of your strava activities to the Demand More Vertical App.</p>
    }
    <p>Click the button below to sync your activities.</p>
    <p>Please remember to sync your activities often.</p>
    <a href="/Strava" class="btn btn-success" style="width: 200px;">Sync</a><br />
}
